body {
  background-color: rgb(0, 0, 0);
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.weather-app {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/150/105/original/pexels-taryn-elliott-4405247.jpg?1731400322);
  background-size: cover;
  background-position: center top;
  max-width: 600px;
  height: 900px;
  margin: 50px auto;
  padding: 40px;
  box-shadow: 0px 70px 90px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
}

.weather-app-details strong {
  color: rgb(193, 127, 28);
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 10px 0;
  margin-bottom: 0px;
}
.search-form {
  margin-left: 120px;
  margin-right: -50px;
  color: #f9f7fe;
  justify-items: space-around;
}
.search-button {
  border: 1px solid rgb(255, 255, 255, 0.2);
  outline: 10px;
  background: rgba(254, 254, 254, 0.6);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.search-button img {
  width: 15px;
  height: 15px;
}

.searchInput {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(117, 117, 153);
  border: none;
  border-radius: 6px;
  width: 330px;
  font-size: 14px;
  padding: 7px 5px;
}
.searchInput:hover {
  background-color: #f9f7fe;
  color: black;
}

.search-button:hover {
  background-color: #f9f7fe;
  color: black;
}
main {
  padding: 10px 0;
}
.weather-app-box {
  text-align: center;
  justify-content: space-between;
}
h1 {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.weather-app-city {
  text-align: center;
  margin: 0;
  margin-right: 30px;
  font-size: 38px;
  line-height: 38px;
  text-shadow: 8px 14px 9px rgba(245, 69, 16, 0.2);
  color: #ffffff;
}
.weather-app-details {
  text-align: center;
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 20px;
  font-weight: 500;
  margin-right: 40px;
}
.weather-app-icon {
  width: 200px;
  margin-top: 3px;
}
.weather-app-temp {
  font-size: 60px;
  margin-top: 3px;
  margin-bottom: 0px;
}
.weatehr-app-unit {
  margin-top: 16px;
  font-size: 28px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.forecast-day {
  margin-top: 30px;
}
.forecast-date {
  text-align: center;
  color: rgb(252, 252, 252);
  font-size: 16px;
  line-height: 20px;
}
.forecast-icon {
  width: 100%;
}
.forecast-temps {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
}
.forecast-temp {
  padding: 0 10px;
}
footer {
  border-top: 1px solid #f9f7fe;
  margin-top: 100px;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
